<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tourist Guide</title>
  <link rel="stylesheet" href="/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
  <link rel="stylesheet" href="/css/labels.css" th:href="@{/css/labels.css}">
</head>
<body>
<div class="main">
  <div class="navigation">
    <div class="navigation-block nickname">
      <label class="nickname-text" th:text="${username}"/>
    </div>
    <div class="navigation-block menu admin">
      <a th:href="@{/admin/moderators}" class="navigation-text submenu">Главная</a> <br/>
      <a th:href="@{/admin/categories}" class="navigation-text submenu">Категории</a> <br/>
      <a th:href="@{/admin/cities}" class="navigation-text submenu">Города</a> <br/>
    </div>
  </div>

  <div class="main-page-content">
    <div class="heading-panel">

      <div>
        <h1 class="heading welcome">Добро пожаловать в Tourist Guide!</h1>
      </div>

    </div>
  </div>
</div>
</body>
</html>