<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="/static/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
    <link rel="stylesheet" href="/static/css/labels.css" th:href="@{/css/labels.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
    <div class="main">
        <div class="navigation">
            <div class="navigation-block nickname">
                <label class="nickname-text" th:text="${username}"/>
        </div>
        <div class="navigation-block menu admin">
            <a th:href="@{/admin/moderators}" class="navigation-text submenu">Главная</a> <br/>
            <a th:href="@{/admin/categories}" class="navigation-text submenu">Категории</a> <br/>
            <div class="current-page-block">
                <label class="navigation-text submenu current-submenu">Города</label> <br/>
            </div>
        </div>
        </div>
        <div class="main-page-content">
            <div class="heading-panel">

            <div>
                <h1 class="heading">Города</h1>
            </div>

        </div>

        <div class="cities">
            <form th:method="post" th:action="@{/admin/cities}">
                <div class="adding-panel">
                    <div class="wrap-input100 m-b-16 m-l-60">
                        <input th:id="city" class="input100" type="text" name="city"
                               placeholder="Название города">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <input type="submit" value="Добавить город" class="login100-form-btn adding-button">
                    </div>
                </div>
            </form>

            <div class="m-t-50 m-l-60">
                <div class="table-name">
                    <h1 class="p-l-10 p-t-10 p-b-10" style="color: snow">Города России</h1>
                </div>
                <div class="scroll-table-body">
                    <table class="table-body">
                        <tbody>
                        <tr th:each="city : ${cities}">
                            <td th:text="${city.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>