<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tourist Guide</title>
  <link rel="stylesheet" href="/static/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
  <link rel="stylesheet" href="/static/css/labels.css" th:href="@{/css/labels.css}">
  <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div class="main">
  <div class="navigation">
    <div class="navigation-block nickname">
      <label class="nickname-text" th:text="${username}"/>
    </div>
    <div class="navigation-block menu admin" style="height: 100%;">
      <a th:href="@{/tourist}" class="navigation-text submenu">Личный кабинет</a> <br/>
      <a th:href="@{/tourist/places}" class="navigation-text submenu">Главная</a> <br/>
      <div class="current-page-block">
        <label class="navigation-text submenu current-submenu">Избранное</label> <br/>
      </div>
      <a th:href="@{/route/completed}" class="navigation-text submenu">Пройденные маршруты</a> <br/>
      <a th:href="@{/route/booked}" class="navigation-text submenu">Бронь</a> <br/>
    </div>
  </div>

  <div class="main-page-content">
    <div class="heading-panel">

      <div>
        <h1 class="heading" style="margin-left: 50px; padding-left: 0;">Места</h1>
      </div>

      <div class="place-labels border" style="height: 30vh;">
        <div class="place-label" th:each="activity : ${activities}">
          <div style="display: flex;">
            <form action="#" th:method="get" th:action="@{/tourist/place/{id}(id=${activity.id})}">
              <button class="place-name"
                      style="padding-left: 25px; padding-top: 0;"
                      th:text="${activity.name}">
              </button>
            </form>
          </div>
          <label class="info-label" th:text="${activity.category.name}"></label>
          <label class="info-label" th:text="${activity.coordinate.city.name}"></label><br/>
          <div class="image-area image-wrapper">
            <img alt="" th:src="@{${'/image/display/' + activity.id}}"/>
          </div>
          <label class="info-label" th:text="${activity.duration}"></label>
          <label class="info-label" th:text="${activity.price} + ' руб.'"></label>
        </div>
      </div>

      <div>
        <h1 class="heading" style="margin-left: 50px; padding-left: 0;">Мероприятия</h1>
      </div>

      <div class="place-labels border" style="height: 30vh;">
        <div class="place-label" th:each="event : ${events}">
          <div style="display: flex;">
            <form action="#" th:method="get" th:action="@{/tourist/event/{id}(id=${event.activity.id})}">
              <button class="place-name"
                      style="padding-left: 25px; padding-top: 0;"
                      th:text="${event.activity.name}">
              </button>
            </form>
          </div>
          <label class="info-label" th:text="${event.activity.coordinate.city.name}"></label>
          <label class="info-label" th:text="${event.startDate} + '-' + ${event.endDate}"></label><br/>
          <div class="image-area image-wrapper">
            <img alt="" th:src="@{${'/image/display/' + event.activity.id}}"/>
          </div>
          <label class="info-label" th:text="${event.activity.duration}"></label>
          <label class="info-label" th:text="${event.activity.price} + ' руб.'"></label>
        </div>
      </div>

      <div>
        <h1 class="heading" style="margin-left: 50px; padding-left: 0;">Маршруты</h1>
      </div>

      <div class="place-labels border" style="height: 30vh;">
        <div class="place-label" style="height: 28vh;" th:each="route : ${routes}">
          <div style="display: flex;">
            <form action="#" th:method="get" th:action="@{/route/{id}(id=${route.id})}">
              <button class="place-name"
                      style="padding-left: 25px; padding-top: 0; line-height: normal;"
                      th:text="${route.name}">
              </button>
            </form>
          </div>
          <label class="info-label" th:text="${route.city.name}"></label><br/>
          <textarea readonly class="description-textarea"
                    th:text="${route.description}"
                    style="overflow-y: scroll; height: 37%;"/>
          <div>
            <label class="info-label" style="margin-top: 5px;"
                   th:text="'Время: ' + ${route.time}"></label><br/>
            <label class="info-label" style="margin-top: 5px;"
                   th:text="'Длина пути: ' + ${route.length} + ' км'"></label><br/>
            <label class="info-label" style="margin-top: 5px;"
                   th:text="'Цена: ' + ${route.price} + ' руб.'"></label>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>