<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tourist Guide</title>
  <link rel="stylesheet" href="/static/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
  <link rel="stylesheet" href="/static/css/labels.css" th:href="@{/css/labels.css}">
  <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div class="main">
  <div class="navigation">
    <div class="navigation-block nickname">
      <label class="nickname-text" th:text="${username}"/>
    </div>
    <div class="navigation-block menu admin">
      <a th:href="@{/tourist}" class="navigation-text submenu">Личный кабинет</a> <br/>
      <div class="current-page-block">
        <label class="navigation-text submenu current-submenu">Главная</label> <br/>
        <a th:href="@{/tourist/places}" class="navigation-text current-navigation-text">
          Места
        </a> <br/>
        <a th:href="@{/tourist/routes}" class="navigation-text current-navigation-text">
          Маршруты</a> <br/>
        <label class="navigation-text current-navigation-text">
          <u>Мероприятия</u></label> <br/>
      </div>
      <a th:href="@{/tourist/favourites}" class="navigation-text submenu">Избранное</a> <br/>
      <a th:href="@{/route/completed}" class="navigation-text submenu">Пройденные маршруты</a> <br/>
      <a th:href="@{/route/booked}" class="navigation-text submenu">Бронь</a> <br/>
    </div>
  </div>

  <div class="main-page-content">
    <div class="heading-panel">

      <div>
        <h1 class="heading">Мероприятия</h1>
      </div>

      <div class="labels">
        <form th:method="get" th:action="@{/tourist/events/characteristics}">
          <button class="custom-label m-l-60" style="margin-top: 25%">
            <img src="/static/images/search.png" th:src="@{/images/search.png}"
                 height="20" width="20">
          </button>
        </form>
        <div class="custom-label city m-t-16 m-l-20">
          <label class="custom-label-text" th:text="${city}"></label>
        </div>
        <div class="custom-label date-label m-t-16 m-l-20">
          <label class="custom-label-text" th:text="${currentDate}"></label>
        </div>
      </div>

      <div class="place-labels">
        <div class="place-label" style="height: 27vh;"  th:each="event : ${events}">
          <div style="display: flex;">
            <form action="#" th:method="get" th:action="@{/tourist/event/{id}(id=${event.activity.id})}">
              <button class="place-name"
                      style="padding-left: 25px; padding-top: 0;"
                      th:text="${event.activity.name}">
              </button>
            </form>
          </div>
          <div class="image-area image-wrapper">
            <img alt="" th:src="@{${'/image/display/' + event.activity.id}}"/>
          </div>
          <label class="info-label" th:text="${event.activity.duration}"></label>
          <label class="info-label" th:text="${event.activity.price} + ' руб.'"></label>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>