<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="/static/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
    <link rel="stylesheet" href="/static/css/labels.css" th:href="@{/css/labels.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div class="main">
    <div class="navigation">
        <div class="navigation-block nickname">
            <label class="nickname-text" th:text="${username}"/>
        </div>
        <div class="navigation-block menu admin">
            <label class="navigation-text submenu current-submenu">Все маршруты</label> <br/>
            <a th:href="@{/agency/add}" class="navigation-text submenu">Создать маршрут</a> <br/>
        </div>
    </div>

    <div class="main-page-content">
        <div class="heading-panel">

            <div>
                <h1 class="heading">Маршруты</h1>
            </div>

            <div class="place-labels">
                <div class="place-label" style="height: 27vh;"  th:each="route : ${routes}">
                    <div style="display: flex;">
                        <form action="#" th:method="get" th:action="@{/agency/route/{id}(id=${route.id})}">
                            <button class="place-name"
                                    style="padding-left: 25px; padding-top: 0;"
                                    th:text="${route.name}">
                            </button>
                        </form>
                    </div>
                    <textarea readonly class="description-textarea"
                              th:text="${route.description}"/>
                    <label class="info-label" th:text="${route.price} + ' руб.'"></label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>