<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="/static/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
    <link rel="stylesheet" href="/static/css/labels.css" th:href="@{/css/labels.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div class="main">
    <div class="navigation">
        <div class="navigation-block nickname">
            <label class="nickname-text" th:text="${username}"/>
        </div>
        <div class="navigation-block menu admin">
            <a th:href="@{/organization/events}" class="navigation-text submenu">Мероприятия</a> <br/>
            <a th:href="@{/organization/add}" class="navigation-text submenu">Добавление</a> <br/>
            <div class="current-page-block">
                <label class="navigation-text submenu current-submenu">Управление</label> <br/>
            </div>
        </div>
    </div>

    <div class="main-page-content">
        <div class="heading-panel">

            <div style="width: 150vh;">
                <h1 class="heading" th:text="${name}"></h1>
            </div>


            <form th:method="post" th:action="@{/organization/session/add/{id}(id = ${eventId})}">
                <div style="display: flex; margin-top: 20px; width: 70vh;">
                    <div class="m-b-16 m-l-20">
                        <label class="input100 time-label custom-input"
                               style="padding-top: 10px; background-color: white;">Начало мероприятия</label>
                    </div>
                    <div class="wrap-input100 m-b-16">
                        <input th:id="startTime" class="input100 time-label custom-input" type="time" name="startTime"
                               placeholder="~Время прохождения">
                        <span class="focus-input100 time-label"></span>
                    </div>
                    <div class="container-login100-form-btn m-b-16">
                        <input type="submit" value="Добавить" class="login100-form-btn adding-button">
                    </div>
                </div>
            </form>
            <div class="cities">
                <div class="m-t-20 m-l-60">
                    <div class="table-name moders">
                        <h1 class="p-l-10 p-t-10 p-b-10" style="color: snow">Расписание</h1>
                    </div>
                    <div class="scroll-table moders">
                        <table class="table-body">
                            <thead>
                            <tr>
                                <th class="ex-td">Время начала мероприятия</th>
                                <th class="t-td">Удаление</th>
                            </tr>
                            </thead>
                        </table>
                        <div class="scroll-table-body" style="height: 350px;">
                            <table class="table-body">
                                <tbody>
                                <tr th:each="eventSession : ${sessions}">
                                    <form action="#" th:action="@{/organization/session/delete/{id}/{time}(id=${eventSession.eventId}, time=${eventSession.sessionTime})}"
                                          th:method="post">
                                        <td class="ex-td" th:id="newTime" th:text="${eventSession.sessionTime}"
                                            th:value="${eventSession.sessionTime}"></td>
                                        <td class="t-td">
                                            <button class="change-button" type="submit">Удалить</button>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <form action="#" th:method="post" th:action="@{/organization/session/back}">
                    <div class="container-login100-form-btn m-b-16 m-l-60" style="width: 150vh;">
                        <input type="submit" value="Назад" class="login100-form-btn adding-button">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>