<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tourist Guide</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form method="post" th:action="@{/route/book/{id}(id = ${routeId})}"
                  class="login100-form validate-form p-l-55 p-r-55 p-t-120">
                        <span class="login100-form-title">
                            Выберите данные для брони
                        </span>

                <div class="wrap-input100 m-b-16">
                    <select th:id="bookingDate" class="input100" name="bookingDate">
                        <option th:each="date : ${dates}" th:text="${date}" th:value="${date}"></option>
                    </select>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-16">
                    <input th:id="tourists" class="input100"
                           type="number" name="tourists" placeholder="Количество человек">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-b-16">
                    <button class="login100-form-btn">
                        Забронировать
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>