<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="/static/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
    <link rel="stylesheet" href="/static/css/labels.css" th:href="@{/css/labels.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div class="main">
    <div class="navigation">
        <div class="navigation-block nickname">
            <label class="nickname-text" th:text="${username}"/>
        </div>
        <div class="navigation-block menu admin">
            <a th:href="@{/tourist}" class="navigation-text submenu">Личный кабинет</a> <br/>
            <a th:href="@{/tourist/characteristics}" class="navigation-text submenu">Главная</a> <br/>
            <a th:href="@{/tourist/favourites}" class="navigation-text submenu">Избранное</a> <br/>
            <a th:href="@{/route/completed}" class="navigation-text submenu">Пройденные маршруты</a> <br/>
        </div>
    </div>

    <div class="main-page-content">
        <div class="heading-panel" style="width: 160vh;">

            <div>
                <h1 class="heading">Обязательные точки маршрута</h1>
            </div>

        </div>
            <div class="cities">
                <div class="m-t-20 m-l-60">
                    <div class="table-name moders">
                        <h1 class="p-l-10 p-t-10 p-b-10" style="color: snow">Потенциальные точки маршрута</h1>
                    </div>
                    <div class="scroll-table moders">
                        <table class="table-body">
                            <thead>
                            <tr>
                                <th class="ex-td">Логин</th>
                                <th class="t-td">Статус</th>
                                <th class="t-td">Управление</th>
                            </tr>
                            </thead>
                        </table>
                        <div class="scroll-table-body" style="height: 300px;">
                            <table class="table-body">
                                <tbody>
                                <tr th:each="activity : ${preliminaries}">
                                    <form action="#" th:action="@{/route/compulsory/{id}(id = ${activity.activity.id})}" th:method="post">
                                        <td class="ex-td" th:text="${activity.activity.name}"></td>
                                        <td class="t-td">
                                            <span th:text="${activity.isCompulsory} ? 'Обязательно' : 'Необязательно'">
                                            </span>
                                        </td>
                                        <td class="t-td">
                                            <button class="change-button" type="submit">Изменить</button>
                                        </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        <form th:method="get" action="#" th:action="@{/route/constraints}">
            <div class="container-login100-form-btn p-t-10">
                <input type="submit" value="Далее" class="login100-form-btn adding-button">
            </div>
        </form>
    </div>
</div>
</body>
</html>