<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="/static/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
    <link rel="stylesheet" href="/static/css/labels.css" th:href="@{/css/labels.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div class="main">
    <div class="navigation">
        <div class="navigation-block nickname">
            <label class="nickname-text" th:text="${username}"/>
        </div>
        <div class="navigation-block menu admin">
            <a th:href="@{/tourist}" class="navigation-text submenu">Личный кабинет</a> <br/>
            <a th:href="@{/tourist/characteristics}" class="navigation-text submenu">Главная</a> <br/>
            <a th:href="@{/tourist/favourites}" class="navigation-text submenu">Избранное</a> <br/>
            <label class="navigation-text submenu">Пройденные маршруты</label> <br/>
        </div>
    </div>

    <div class="main-page-content">
        <div class="heading-panel">
            <div class="labels">
                <form th:method="get" th:action="@{/route/characteristics}">
                    <button class="custom-label m-l-60" style="margin-top: 25%">
                        <img src="/static/images/search.png" th:src="@{/images/search.png}"
                             height="20" width="20">
                    </button>
                </form>
                <div class="custom-label category m-t-16 m-l-20">
                    <label class="custom-label-text" th:text="${category}"></label>
                </div>
                <div class="custom-label date-label m-t-16 m-l-20">
                    <label class="custom-label-text" th:text="${tourDate}"></label>
                </div>
            </div>
            <div style="width: 160vh;">
                <h1 class="heading" style="margin-left: 50px; padding-left: 0;">Места</h1>
            </div>
            <div class="place-labels border" style="height: 30vh; margin-left: 5px;">
                <div class="place-label" style="height: 27vh;" th:each="activitySet : ${activities}">
                    <label class="place-name"
                           style="padding-left: 25px; padding-top: 0;"
                           th:text="${activitySet.activity.name}">
                    </label><br/>
                    <textarea readonly class="description-textarea"
                              th:text="${activitySet.activity.description}"/>
                    <div style="display: flex;">
                        <label class="info-label" th:text="${activitySet.activity.duration}"></label>
                        <label class="info-label" th:text="${activitySet.activity.price} + ' руб.'"></label>
                        <span th:if="${activitySet.status}">
                            <form th:method="post"
                                  th:action="@{/route/places/add/{id}(id=${activitySet.activity.id})}">
                                <button class="login100-form-btn"
                                        style="width: fit-content; height: fit-content; margin-left: 3px;">
                                    Добавить
                                </button>
                            </form>
                        </span>
                        <span th:unless="${activitySet.status}">
                            <form th:method="post"
                                  th:action="@{/route/places/delete/{id}(id=${activitySet.activity.id})}">
                                <button class="login100-form-btn"
                                        style="width: fit-content;
                                        height: fit-content;
                                        background-color: #7DC4F7;
                                        margin-left: 3px;
                                        color: black;">
                                    Добавлено
                                </button>
                            </form>
                        </span>
                    </div>
                </div>
            </div>
            <div style="width: 160vh;">
                <h1 class="heading" style="margin-left: 50px; padding-left: 0;">Мероприятия</h1>
            </div>
            <div class="place-labels border" style="height: 30vh; margin-left: 5px;">
                <div class="place-label" style="height: 27vh;" th:each="eventSet : ${events}">
                    <label class="place-name"
                           style="padding-left: 25px; padding-top: 0;"
                           th:text="${eventSet.info.event.activity.name}">
                    </label><br/>
                    <textarea readonly class="description-textarea" style="height: 40%;"
                              th:text="${eventSet.info.event.activity.description}"/>
                    <div style="display: flex;">
                        <label class="info-label" th:text="${eventSet.info.event.activity.duration}"></label>
                        <label class="info-label" th:text="${eventSet.info.event.activity.price} + ' руб.'"></label>
                    </div>
                    <div style="display: flex; margin-top: 5px;">
                        <span th:if="${eventSet.status}">
                            <form th:method="post"
                                  th:action="@{/route/events/add/{id}(id=${eventSet.info.event.activity.id})}">
                                <div style="display: flex;">
                                    <select th:id="eventTime" class="input100" name="eventTime"
                                            style="width: fit-content; height: fit-content; margin-left: 20px;">
                                        <option th:each="time : ${eventSet.info.sessions}" th:text="${time}" th:value="${time}"></option>
                                    </select>
                                    <button class="login100-form-btn"
                                            style="width: fit-content; height: fit-content; margin-left: 7px;">
                                        Добавить
                                    </button>
                                </div>
                            </form>
                        </span>
                        <span th:unless="${eventSet.status}">
                            <form th:method="post"
                                  th:action="@{/route/places/delete/{id}(id=${eventSet.info.event.activity.id})}">
                                <button class="login100-form-btn"
                                        style="width: fit-content;
                                        height: fit-content;
                                        background-color: #7DC4F7;
                                        margin-left: 25px;
                                        color: black;">
                                    Добавлено
                                </button>
                            </form>
                        </span>
                    </div>

                </div>
            </div>

            <div class="container-login100-form-btn"
                 style="width: 160vh; margin-top: 20px; text-align: center;">
                <form th:method="get" th:action="@{/route/constraints}">
                    <button class="login100-form-btn" style="width: fit-content;">
                        Далее
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>