<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="/static/css/navigation_panel.css" th:href="@{/css/navigation_panel.css}">
    <link rel="stylesheet" href="/static/css/labels.css" th:href="@{/css/labels.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div class="main">
    <div class="navigation">
        <div class="navigation-block nickname">
            <label class="nickname-text" th:text="${username}"/>
        </div>
        <div class="navigation-block menu admin">
            <div class="current-page-block">
                <label class="navigation-text submenu current-submenu">Места</label> <br/>
                <label class="navigation-text current-navigation-text">
                    <u>Все места</u>
                </label> <br/>
                <a th:href="@{/moderator/places/manage}" class="navigation-text current-navigation-text">
                    Управление местами</a> <br/>
            </div>
            <a th:href="@{/moderator/orgs}" class="navigation-text submenu">Организации</a> <br/>
        </div>
    </div>

    <div class="main-page-content">
        <div class="heading-panel">

            <div>
                <h1 class="heading">Места</h1>
            </div>

            <div class="labels">
                <div class="custom-label city m-t-16 m-l-60">
                    <label class="custom-label-text" th:text="${city}"></label>
                </div>
            </div>

            <div class="place-labels">
                <div class="place-label"  th:each="activity : ${activities}">
                    <label class="place-name" th:text="${activity.name}"></label></br>
                    <label class="info-label"
                           th:text="'Категория: ' + ${activity.category.name}"></label></br>
                    <textarea readonly class="description-textarea" th:text="${activity.description}"></textarea>
                    <label class="info-label" th:text="${activity.duration}"></label>
                    <label class="info-label" th:text="${activity.price} + ' руб.'"></label>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>